.productFormContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    z-index: 1;
    
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: end;
}