.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 300px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
    background-color: white;
    margin: 10px;
}

.btn-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}